/* Universal Styles */
html {
    font-size: 16px;
}

.header {
    height: 4rem;
    width: 100%;
    display: flex;
}

#padding-right {
    padding-right: 1.5rem;
}

#padding-left {
    padding-left: 1.5rem;
}

#padding-left img {
    align-items: center;
}

#space-between {
    justify-content: space-between;
}

.rubik {
    font-family: 'Rubik', sans-serif;
}

.rubik p {
    font-weight: 300;
}

.rubik h5 {
    font-weight: 400;
}

.rubik h3 {
    font-weight: 300;
}

.darkgreen-text {
    color: darkgreen;
}

.darkgreen-background {
    background-color: darkgreen;
}

.lightgray-background {
    background-color: lightgray;
}

.lightgray-text {
    color: lightgray;
}

.darkbrown-text {
    color: #1d1916;
}

.darkbrown-background {
    background-color: #1d1916;
}

.flex {
    display: inline-flex;
}

.padding-sides-top {
    padding: 1rem 1rem 0rem 1rem;
}


/* Header Section */
.list {
    text-decoration: none;
    display: inline-block;
    font-size: 1.25rem;
    margin-left: 1rem;
}

.center-test {
    display: inline-flex;
    align-items: center;
}

.nav-list {
    padding-right: 1.5rem;
}

.logo {
    height: 100%;
    width: auto;
}

.logo-mobile {
    height: 75%;
    width: auto;
}

.text1 {
    font-size: 2rem;
    color: darkgreen;
}

.text2 {
    font-size: 2rem;
    color:lightslategray;
}

@media only screen and (max-width: 480px) {
    body .desktop {
        display: none;
    }
}

@media only screen and (min-width: 480px) {
    body .mobile {
        display: none;
    }
}

/* Learn Something New Section */
.learn-something-new  {
    display: inline-flex;
}

.lsn-image-container {
    width: 60%;
    height: auto;
    padding-right: 1.5rem;
}

.banner {
    width: 100%;
    height: auto;
    margin: 2rem 1.5rem;
    box-shadow: 0px 5px 5px black;
}

.banner-mobile {
    width: 100%;
    height: auto;
    box-shadow: 0px 5px 5px black;
}

.type-container {
    display: flex;
    margin-right: 4rem;
    flex-direction: column;
}

.type-container h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 1.1875rem 0rem;
}

.type-container h3 {
    margin: 1.1875rem 0rem;
}

#column-test {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-left: 2.5rem;
}

.type-container h3 {
    background-color: darkgreen;
    width: 90%;
    color: white;
    text-align: center;
    padding: .5rem 0rem;
}

.padding-left-mobile {
    padding-left: 1rem;
}

.button-mobile {
    background-color: darkgreen;
    width: 90%;
    color: white;
    text-align: center;
    padding: .5rem 0rem ;
    margin: 1.5rem 1rem 2rem 1rem;
}

/* Keep Practicing Section */
.keep-practicing {
    display: inline-flex;
}

.kp {
    width: 60%;
    height: auto;
    padding-right: 1.5rem;
    background-color: #1d1916;
}

.banner2 {
    width: 100%;
    height: auto;
    margin: 2rem 1.5rem;
    box-shadow: 0px 5px 5px black;
}

.keep-practicing h1 {
    margin: 0rem 0rem 1.5rem 1.5rem;
}

.keep-practicing h2 {
    margin: 0rem 0rem 1.5rem 1.5rem;
}

.keep-practicing p {
    width: 100%;
    margin: 0rem 0rem 2rem 1.5rem;
}

.keep-practicing h5 {
    margin: 0rem 0rem 2rem 1.5rem;
}

.ogl {
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: #1d1916;
    padding-top: 2rem;
    padding-left: 2.5rem;
}

.small-image {
    width: 35%;
    height: auto;
    margin: 1rem 1rem 1rem 0rem;
}

.small-image1 {
    width: 35%;
    height: auto;
    margin: 0rem 1rem 1rem 0rem;
}

.small-image-mobile {
    width: 100%;
    height: auto;
    box-shadow: 0px 5px 5px black;
}

.small-container {
    display: inline-flex;
    background-color: ;
    align-items: center;
}

.small-container h2 {
    margin-left: 0rem;
}

.read-more {
    color: deepskyblue;
}

.read-more-mobile {
    color: deepskyblue;
    padding-bottom: 2rem;
    margin-bottom: 0rem;
}

/* Start Learning Section */
.start-learning {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.start-learning h1 {
    margin: 2rem 0rem;
}

.sl-container {
    background-color: ;
    display: flex;
    margin: 0rem 4.5rem;
    padding-bottom: 2rem;

}

.sl-container img {
    width: 100%;
}

.card-container {
    padding: 0rem 1rem;
    flex: 1;
}

.card-container img {
    box-shadow: 0px 5px 5px black;
}

.card-container h3 {
    max-width: 100%;
}

#center {
    display: flex;
    justify-content: center;
}

#space {
    justify-content: space-around;
}

.padding-sides-top2 {
    padding: 2rem 1rem 1.5rem 1rem;
}

.no-margin-mobile {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.list-mobile {
    text-decoration: none;
    display: flex;
    font-size: 1.25rem;
    justify-content: center;
    background-color: #989482;
    padding: 2rem 1rem;
    margin-bottom: .5rem;
}

.mobile ul {
    padding-left: 0rem;
}

.center-list {
    display: flex;
    justify-content: center;
}

.rubik li {
    font-weight: 300;
}

/* Thesis Exhibit Section */
.thesis-exhibit {
    display: inline-flex;
}

#center-te {
    display: flex;
    justify-content: center;
    background-color: #1d1916;
    padding: 2rem 0rem 1rem 0rem;
    margin: 0rem;
}

#center-te-mobile {
    display: flex;
    justify-content: center;
    background-color: #1d1916;
    padding: 2rem 0rem 1rem 0rem;
    margin: 0rem;
}

.banner2-mobile {
    width: 100%;
    height: auto;
}

/* Footer Section */
.footer {
    display: flex;
    width: 100%;
    background-color: darkgreen;
    color: whitesmoke;
}

.list2 {
    text-decoration: none;
    display: inline-block;
    margin-left: 1rem;
}

.footer-mobile {
    padding: 1.5rem 0rem 1rem 0rem;
    display: flex;
    width: 100%;
    background-color: darkgreen;
    color: whitesmoke;
}

.footer-mobile h5 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}
